
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



/* TOP BAR */

.top-bar{
    width: 100%;
    height: 40px;
    background: #f5f5f5;
    padding: 0 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar p{
    font-size: 14px;
    color: #666;
}

/* HEADER */

.header{
    width: 100%;
    padding: 20px 40px;

    display: flex;
    align-items: center;
    gap: 20px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo i{
    color: #0aad0a;
    font-size: 28px;
}

.logo h2{
    font-size: 32px;
}

.search-box{
    flex: 1;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
}

.search-box input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

.location-btn{
    height: 50px;
    padding: 0 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}

.header-icons{
    display: flex;
    gap: 20px;
}

.icon-box{
    position: relative;
    font-size: 22px;
}

.icon-box span{
    position: absolute;
    top: -10px;
    right: -10px;

    width: 20px;
    height: 20px;
    border-radius: 50%;

    background: #0aad0a;
    color: white;

    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAVBAR */

.navbar{
    width: 100%;
    padding: 15px 40px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    display: flex;
    align-items: center;
    gap: 30px;
}

.department-btn{
    background: #0aad0a;
    color: white;
    border: none;
    padding: 14px 25px;
    border-radius: 10px;
    cursor: pointer;
}

.nav-links{
    list-style: none;

    display: flex;
    gap: 25px;
}

.nav-links li{
    cursor: pointer;
}

/* HERO SECTION */

.hero-section{
    width: 100%;
    padding: 40px;
    background: #f7f4ef;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 20px;
    margin-top: 20px;
}

.hero-content{
    width: 45%;
}

.tag{
    background: #ffd43b;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}

.hero-content h1{
    font-size: 60px;
    line-height: 75px;
    margin-top: 20px;
    color: #001e2b;
}

.hero-content h1 span{
    color: #0aad0a;
}

.hero-content p{
    margin: 20px 0;
    color: #666;
    line-height: 28px;
}

.hero-content button{
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background: #001e2b;
    color: white;
    cursor: pointer;
}

.hero-image{
    width: 50%;
}

.hero-image img{
    width: 100%;
}

/* SECTION TITLE */

.section-title{
    padding: 40px;
}

.section-title h2{
    font-size: 35px;
}

/* CATEGORY SECTION */

.category-container{
    width: 100%;
    padding: 0 40px;
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.category-card{
    width: 180px;
    height: 180px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.category-card img{
    width: 90px;
}

/* OFFER SECTION */

.offer-section{
    width: 100%;
    padding: 40px;

    display: flex;
    gap: 20px;
}

.offer-box{
    flex: 1;
    background: #f5f5f5;
    border-radius: 15px;

    padding: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-content h2{
    font-size: 36px;
    margin-bottom: 10px;
}

.offer-content p{
    margin-bottom: 20px;
    color: #666;
}

.offer-content button{
    background: #001e2b;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
}

.offer-box img{
    width: 220px;
}

/* PRODUCTS */

.product-container{
    width: 100%;
    padding: 0 40px;
    margin-top: 35px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card{
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 15px;
    position: relative;
}

.sale{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #0aad0a;
    color: white;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 5px;
}

.red{
    background: red;
}

.product-card img{
    width: 140px;
    display: block;
    margin: auto;
}

.category{
    color: #777;
    font-size: 13px;
    margin-top: 10px;
}

.product-card h3{
    margin: 10px 0;
}

.rating{
    color: gold;
    margin-bottom: 15px;
}

.rating span{
    color: #666;
}

.price-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-size: 22px;
    font-weight: bold;
}

.price-box button{
    background: #0aad0a;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
}

/* FEATURES */

.features{
    width: 100%;
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.feature-box{
    width: 25%;
}

.feature-box i{
    font-size: 35px;
    color: #0aad0a;
    margin-bottom: 15px;
}

.feature-box h3{
    margin-bottom: 10px;
}

.feature-box p{
    color: #666;
    line-height: 25px;
}

/* FOOTER */

.footer{
    background: #f5f5f5;
    padding: 60px 40px;
    margin-top: 40px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-box h3{
    margin-bottom: 20px;
}

.footer-box p{
    margin-bottom: 10px;
    color: #666;
}


.product-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 20px;
}

.card{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}

.tag-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.sale{
    background: #d62828;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    width: fit-content;
}

.discount{
    background: #0ead69;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    width: fit-content;
}

.product-img{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.product-img img{
    width: 130px;
    height: 130px;
    object-fit: contain;
}

.category{
    color: gray;
    font-size: 14px;
    margin-top: 10px;
}

.card h3{
    margin-top: 8px;
    font-size: 18px;
    color: #222;
}

.rating{
    margin-top: 10px;
    color: #f4b400;
    font-size: 14px;
}

.rating span{
    color: gray;
    margin-left: 5px;
}

.price-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.new-price{
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.old-price{
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
}

button{
    background: #00b207;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

button:hover{
    background: #009905;
}


.banner-section{
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 30px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-box{
    width: 50%;
    height: 320px;
    background: #f2f2f2;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
}

.banner-content h2{
    font-size: 50px;
    color: #0b1d2a;
    margin-bottom: 15px;
}

.banner-content p{
    font-size: 26px;
    color: #777;
    margin-bottom: 35px;
}

.banner-content button{
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background: #001d33;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.banner-img{
    width: 55%;
    height: 100%;
}

.banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer{
    width: 100%;
    background: #f3f3f3;
    padding: 50px 70px;
}

/* ================= TOP FOOTER ================= */

.footer-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 40px;
}

.footer-column h3{
    font-size: 22px;
    color: #222;
    margin-bottom: 25px;
}

.footer-column ul{
    list-style: none;
}

.footer-column ul li{
    margin-bottom: 18px;
}

.footer-column ul li a{
    text-decoration: none;
    color: #777;
    font-size: 18px;
    transition: 0.3s;
}

.footer-column ul li a:hover{
    color: #000;
}

.category-box{
    display: flex;
    gap: 60px;
}


.payment-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    border-bottom: 1px solid #dcdcdc;
    flex-wrap: wrap;
    gap: 30px;
}

.payment-left,
.payment-right{
    display: flex;
    align-items: center;
    gap: 25px;
}

.payment-left h4,
.payment-right h4{
    font-size: 22px;
    color: #222;
}

.payment-icons,
.app-btn{
    display: flex;
    align-items: center;
    gap: 15px;
}

.payment-icons img{
    width: 60px;
}

.app-btn img{
    width: 180px;
    border-radius: 10px;
}

/* ================= BOTTOM FOOTER ================= */

.footer-bottom{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-bottom p{
    color: #777;
    font-size: 16px;
}

.footer-bottom p span{
    color: green;
    font-weight: bold;
}

.social-icons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-icons span{
    color: #555;
    font-size: 16px;
}

.social-icons a{
    width: 40px;
    height: 40px;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #666;
    transition: 0.3s;
}

.social-icons a:hover{
    background: #000;
    color: #fff;
}
